[submodule "backend"]
	path = backend
	url = https://github.com/thisisnotruben/music_play-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/thisisnotruben/music_play-frontend
[submodule "util/audio_parser"]
	path = util/audio_parser
	url = https://github.com/thisisnotruben/music_play-util-audio-parser
[submodule "storage"]
	path = storage
	url = https://github.com/thisisnotruben/music_play-storage
